<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @vsconfig.title %>
</p>

<p>
  <b>Subdomain:</b>
  <%= @vsconfig.subdomain %>
</p>

<p>
  <b>Resume:</b>
  <%= @vsconfig.resume %>
</p>

<p>
  <b>Table name:</b>
  <%= @vsconfig.table_name %>
</p>

<p>
  <b>Date begin:</b>
  <%= @vsconfig.date_begin %>
</p>

<p>
  <b>Stylesheet:</b>
  <%= @vsconfig.stylesheet %>
</p>

<p>
  <b>Author:</b>
  <%= @vsconfig.author %>
</p>

<p>
  <b>Description left:</b>
  <%= @vsconfig.description_left %>
</p>

<p>
  <b>Description right:</b>
  <%= @vsconfig.description_right %>
</p>

<p>
  <b>Favicon:</b>
  <%= @vsconfig.favicon %>
</p>

<p>
  <b>Twitter account:</b>
  <%= @vsconfig.twitter_account %>
</p>

<p>
  <b>Html5 font:</b>
  <%= @vsconfig.html5_font %>
</p>

<p>
  <b>Idhv1:</b>
  <%= @vsconfig.idhv1 %>
</p>

<p>
  <b>Advertisement:</b>
  <%= @vsconfig.advertisement %>
</p>

<p>
  <b>Ajax load:</b>
  <%= @vsconfig.ajax_load %>
</p>

<p>
  <b>Anonymous vote:</b>
  <%= @vsconfig.anonymous_vote %>
</p>

<p>
  <b>User reputation:</b>
  <%= @vsconfig.user_reputation %>
</p>



<%= link_to 'Edit', edit_vsconfig_path(@vsconfig) %> |
<%= link_to 'Back', vsconfigs_path %>
